html {
    height: 100%;
    width: 100%;
  }
  
  .box{
    width: 100px;
    height: 100px;
    background-color: black ;
    border-radius: 20px;
  }
  
  .boxHeading{
    background-color: black;
    color: white;
    padding: 10px 30px;
  }
  
  #js-image{
    width: 70%;
  }
  
  .mouse{
    padding: 10px;
    border: 4px solid black;
  }